@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.title {
    font-family: var(--font-family-secondary);
    font-size: var(--title-lg-size);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.caption {
    font-family: var(--font-family-secondary);
    font-size: var(--captions-lg-size);
    font-weight: 400;
    color: var(--color-secondary);
    margin: 0 0 calc(var(--space-base) * 2) 0;
    padding: 0;
}

.body-1 {
    font-family: var(--font-family-primary);
    font-size: var(--body-1-lg-size);
    font-weight: 400;
    color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

.body-2 {
    font-family: var(--font-family-primary);
    font-size: var(--body-2-lg-size);
    font-weight: 400;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}
.button {
    font-family: var(--font-family-primary);
    font-size: var(--button-lg-size);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: var(--title-size);
    }

    .caption {
        font-size: var(--captions-size);
    }

    .body-1 {
        font-size: var(--body-1-size);
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: var(--title-sm-size);
    }

    .caption {
        font-size: var(--captions-sm-size);
        margin: 0 0 var(--space-base) 0;
    }

    .body-1 {
        font-size: var(--body-1-sm-size);
    }
}
