:root {
    --color-primary: #3b4252;
    --color-secondary: #7b88a1;

    --gray: #f8f9fb;
    --gray-hover: #dbe4f3;

    --title-lg-size: 3vw;
    --title-size: 5vw;
    --title-sm-size: 6vw;

    --captions-lg-size: 3vw;
    --captions-size: 5vw;
    --captions-sm-size: 6vw;

    --body-1-lg-size: 1.5vw;
    --body-1-size: 3vw;
    --body-1-sm-size: 4vw;

    --body-2-lg-size: 1.12vw;
    --body-2-size: 3vw;
    --body-2-sm-size: 4vw;

    --button-lg-size: 1.25vw;
    --button-size: 3vw;
    --button-sm-size: 4vw;

    --space-base: 12px;

    --font-family-primary: 'Noto Sans';
    --font-family-secondary: 'Noto Serif';
}

body {
    font-family: var(--font-family);
    color: var(--color-primary);
}

body,
p {
    margin: 0;
}
