@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --color-primary: #3b4252;
  --color-secondary: #7b88a1;

  --title-lg-size: 3vw;
  --title-size: 5vw;
  --title-sm-size: 6vw;

  --captions-lg-size: 3vw;
  --captions-size: 5vw;
  --captions-sm-size: 6vw;

  --text-lg-size: 1.5vw;
  --text-size: 3vw;
  --text-sm-size: 4vw;

  --space-base: 12px;

  --font-family-primary: "Noto Sans";
  --font-family-secondary: "Noto Serif";
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
}

body,
p {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100vh;
}

.flex.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main > .flex.column {
  padding: calc(var(--space-base) * 18) calc(var(--space-base) * 3)
    calc(var(--space-base) * 6) calc(var(--space-base) * 4);
}

.main > .image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-family: var(--font-family-secondary);
  font-size: var(--title-lg-size);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.caption {
  font-family: var(--font-family-secondary);
  font-size: var(--captions-lg-size);
  font-weight: 400;
  color: var(--color-secondary);
  margin: 0 0 calc(var(--space-base) * 2) 0;
  padding: 0;
}

.text {
  font-family: var(--font-family-primary);
  font-size: var(--text-lg-size);
  font-weight: 400;
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: var(--space-base);
  align-items: center;
}

.card .card-avatar {
  width: calc(var(--space-base) * 4);
  height: calc(var(--space-base) * 4);
  border-radius: 50%;
  object-fit: cover;
}

.card .card-name {
  font-family: var(--font-family-primary);
  font-size: 1.2vw;
  font-weight: 700;
}

.card .card-label {
  font-family: var(--font-family-primary);
  font-size: 1vw;
  font-weight: 700;
  color: var(--color-secondary);
}
