.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px;
    background-color: var(--gray);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.input-message {
    width: 100%;
    padding: 18px;
    border: 1px solid var(--gray-hover);
    border-radius: 8px;

    color: var(--color-primary);

    box-sizing: border-box;
    resize: none;
    transition: border-color 300ms ease-in-out;
}

.input-message:focus {
    outline: none;
    border-color: var(--color-primary);
    transition: border-color 300ms ease-in-out;
}
